[Unit]
Description=Pterodactyl FastDL Daemon
After=docker.service

[Service]
User=root
PIDFile=/run/fastdl/daemon.pid
ExecStart=/etc/pterodactyl/fastdl.sh
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
